<div class="row altura-max d-flex align-items-center m-0 p-0">
    <div class="col-12 m-0 p-0">
        <div class="row d-flex justify-content-center m-0 p-0">
            <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xl-4 m-0 p-0">
                <div class="card m-2 shadow card--color">
                    <div class="card-body text-center">
                        <h1 class="card-title">
                            Voçê não possui autorização para acessar esse recurso.
                        </h1>
                        <a class="btn btn-link " [routerLink]="['']">
                            Clique aqui
                        </a> para voltar à pagina inicial
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>