@import "../../../../customize-bootstrap.scss";
@import "node_modules/bootstrap/scss/bootstrap";

$color-info: theme-color("primary");

.container-panel {
    
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

//icon-side-bar
#sidebarCollapse,
.navbar-toggler-icon {
    background-color: $color-info;
}

/* Side bar */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $color-info;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header,
.navbar {
    background: $color-info;
}

#sidebar .sidebar-header {
    padding: 20px;
}

.navbar {
    padding: 8px;
}

#sidebar ul.components {
    padding: 0px 0;
    border-bottom: 1px solid $color-info;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
}

#sidebar ul li a {
    padding-left: 20px;
}

#sidebar ul li a:hover {
    color: $color-info;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: $color-info;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $color-info;
}

/* Content style */
#content {
    width: 100%;
    margin: 0;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    border: 0 !important;
}

.navbar-toggler-icon {
    display: block !important;
}

.brand--logo {
    cursor: pointer;
}

hr {
    background-color: #fff !important;
    margin: 0 10px;
}

.logout {
    cursor: pointer;
}
/* Media queries */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

//menu humbuerguer
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham2 .top {
    stroke-dasharray: 40 121;
}
.ham2 .bottom {
    stroke-dasharray: 40 121;
}
.ham2.active .top {
    stroke-dashoffset: -102px;
}
.ham2.active .bottom {
    stroke-dashoffset: -102px;
}
