@import '../../../customize-bootstrap.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

$color-primary: theme-color("primary");
$color-light: theme-color("light");

.button--icon {
    width: 50px;
}

thead {
    background-color: $color-primary !important;
    color: $color-light;
    font-size: 1.2em;
}

th  {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
